<ac-layer acFor="let aircraft of realAircrafts$" [show]="true" [context]="this" [store]="true">
  <ac-model-desc props="{
        verticalOrigin: originBottom,
        position: createPosition(aircraft.longitude, aircraft.latitude, aircraft.altitude),
        minimumPixelSize: 150,
        maximumScale : 7000,
        scale: 1.0,
        uri: '/assets/Cesium_Air.glb',
        orientation: createOrientation(aircraft)
       }">
  </ac-model-desc>

  <ac-label-desc props="{
        verticalOrigin: originTop,
        position: createPosition(aircraft.longitude, aircraft.latitude, aircraft.altitude),
        pixelOffset: offset,
        text: aircraft.callSign,
        color: getColor(),
        font: '10px sans-serif'
    }">
  </ac-label-desc>
</ac-layer>

<ac-layer acFor="let aircraft of mongoAircrafts$" [show]="true" [context]="this" [store]="true">
  <ac-model-desc props="{
        verticalOrigin: originBottom,
        position: createPosition(aircraft.longitude, aircraft.latitude, aircraft.altitude),
        minimumPixelSize: 150,
        maximumScale : 7000,
        scale: 1.0,
        uri: '/assets/Cesium_Air.glb',
        orientation: createOrientation(aircraft)
       }">
  </ac-model-desc>

  <ac-label-desc props="{
        verticalOrigin: originTop,
        position: createPosition(aircraft.longitude, aircraft.latitude, aircraft.altitude),
        pixelOffset: offset,
        text: aircraft.callSign,
        color: getColor(),
        font: '10px sans-serif'
    }">
  </ac-label-desc>
</ac-layer>
