<ac-map [sceneMode]="sceneMode" id="main-map">
  <button mat-raised-button (click)="addAircraft()" class="fixed-pos">Create</button>
  <input (change)="latChange" placeholder="Latitude"/>
  <input (change)="lonChange" placeholder="Longitude" />
  <input (change)="altChange" placeholder="Altitude" />


  <ac-map-layer-provider
    [show]="appSettingsService.showMapLayer"
    [provider]="mapProvider"
    [options]="{
      url : 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer'
    }"
  >
<!--  <button content="tyvvfvfty"></button>-->

  </ac-map-layer-provider>
  <!-- Add app-aircraft-layer here -->
  <app-aircraft-layer></app-aircraft-layer>
</ac-map>
